/*Banner*/
.banner {
  background-color: #80ff80;
  font-family: 'Lobster', serif;
  height: 300px;
}
.banner  h1{
  position: relative;
  left: 70%;
  top: 30%;
  font-size: 100px;
}
@media (max-width:780px) {
  img{
    display: none;
  }
}
/*Content*/
.content{
  background-color: #0099ff;
  height: auto;
}
/*About*/
.about {
  margin-top: 50px;
  padding-top: 50px;
  padding-left: 30px;
  background-color: #d9d9d9;
  height: ;
  font-family: 'Raleway', sans-serif;
}
.about h2 {
  font-family: 'Lobster', cursive;
}
/*Game*/
.game{
  margin-top: 75px;
  padding-top: 60px;
  padding-left: 15%;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  height: auto;
}
.game h2 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
}
#number-here{
  margin-left: 10px;
  margin-right: 10px;
  width: 25%;
}
/*Output*/
#output {
  height: auto;
}
