
.banner {
  background-color: #f4deb5;
  font-family: 'Barlow Semi Condensed', serif;
  height: 250px;
}
.banner  h1{
  text-align: center;
  padding-top: 30px;
  font-size: 100px;
}

.content{
  background-color: #d5d5d5;
  height: auto;
}

.about {
  margin-top: 30px;
  padding-top: 20px;
  padding-left: 30px;
  background-color: #90bb90;
  height: 700px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.about h2 {
  font-family: 'Lato', serif;
  font-weight: bold;
}
.about h3 {
  color: #f8dfb7;
}
.about p {
  color: #fff;
  font-size: 20px;
}
.about a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.about a:hover {
  color: #4481b4;
}
.play{
  margin-top: 35px;
  padding-top: 30px;
  padding-left: 10%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 20px;
}
.play h2 {
  font-family: 'Lato', serif;
  font-size: 40px;
}
#input{
  margin-left: 10px;
  margin-right: 10px;
  width: 25%;
}

#output {
  height: auto;
}
