
.banner {
  background-color: #f4deb5;
  font-family: 'Lobster', serif;
  height: 300px;
}
.banner  h1{
  text-align: center;
  padding-top: 30px;
  font-size: 100px;
}

.content{
  background-color: #d5d5d5;
  height: auto;
}

.about {
  margin-top: 50px;
  padding-top: 50px;
  padding-left: 30px;
  background-color: #90bb90;
  height: ;
  font-family: 'Raleway', sans-serif;
}
.about h2 {
  font-family: 'Lobster', cursive;
}

.play{
  margin-top: 75px;
  padding-top: 60px;
  padding-left: 15%;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  height: auto;
}
.play h2 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
}
#number-here{
  margin-left: 10px;
  margin-right: 10px;
  width: 25%;
}

#output {
  height: auto;
}
